@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background: linear-gradient(
		180deg,
		rgba(4, 0, 68, 1) 0%,
		rgba(9, 9, 121, 1) 65%,
		rgba(0, 11, 210, 1) 100%
	); */
	background-image: radial-gradient(#0000, #673ab72e),
		linear-gradient(-90deg, #2000587d, #000, #9c27b02b),
		linear-gradient(0deg, #ff98002e, #000, #8bc34a5e);
	background-color: #000;
	box-shadow: 0 0 150vmin 11vmin #000 inset;
	font-family: "Poppins", sans-serif !important;
}

.text-gradient-red {
	background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-blue {
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 25%,
		rgba(45, 122, 253, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.swiper-pagination-bullet {
	background-color: white !important;
}

.experience-arrow-left:disabled,
.experience-arrow-right:disabled,
.project-arrow-left:disabled,
.project-arrow-right:disabled {
	cursor: no-drop;
}

.title-portfolio {
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
		0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	color: #fff6a9;
	font-family: "Neonderthaw", cursive;
	text-align: center;
	animation: blink 12s infinite;
	-webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
	20%,
	24%,
	55% {
		color: #111;
		text-shadow: none;
	}

	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
			0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}

@keyframes blink {
	20%,
	24%,
	55% {
		color: #111;
		text-shadow: none;
	}

	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
			0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}
